body{
background:black;
color:white;
font-family:Arial;
text-align:center;
}
button{
padding:15px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
}
.red{background:red;color:white}
.green{background:green;color:white}
.white{background:white;color:black}
.violet{background:violet;color:black}
.yellow{background:yellow;color:black}
